$contentBackground: rgba(198, 238, 252, 0.53);
$textColor: #fff;
$title: #fccd10;
$content: #3b3b3b;
$textTransform: uppercase;
$imgBorder: #fccd10;
$briefBg: #fff178;
$briefMargin: 0 0 40px;
$linkColor: #f5c70f;
$tableHeadBg: #94a34e;
$tableBorder: #94a34e;
$cellColor: #fff;
$cellBg: #677d01;
$formTitle: #f5c70f;
$formInputBorder: #94a34e;
$formSubmit: #f5c70f;
