$contentBackground: #dcbb9a;
$textColor: #000;
$title: #893c00;
$content: #ffffff;
$textTransform: none;
$imgBorder: #893c00;
$briefBg: #fadcba;
$briefMargin: 0 20px 10px 0;
$briefPosition: left;
$briefWidth: 425px;
$linkColor: #3d70a1;
$tableHeadBg: #e0e0e0;
$tableBorder: #e0e0e0;
$formTitle: #808080;
$formInputBorder: #e0e0e0;
$formSubmit: #3d70a1;
